.leaderboard-element {
  padding-top: 30px;
  position: relative;

  display: flex;
}

.leaderboard-card {
  padding-top: 100px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #cedad6; // temporary color for testing

  h3 {
    text-align: center;
  }
}

.image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  z-index: 1;

  top: 0;
}

.circular-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 5px orange;
}
